<h1>Quản lý file</h1>
<form method="POST" action="/admin/import-excel" enctype="multipart/form-data">
  <input type="file" name="file" accept=".xlsx, .xls" />
  <button type="submit">Import</button>
</form>

<form method="GET" action="/admin/export-excel">
  <button type="submit">Export data</button>
</form>
