<h1>Thống kê</h1>
<div class="container">
  <canvas id="myChart"></canvas>
</div>

<script type="application/javascript" src="../../../views/js/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

