<div class="jumbotron">
    <h3>Danh sách khách hàng</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Họ tên</th>
          <th scope="col">Email</th>
          <th scope="col">username</th>
          <th scope="col">gender</th>
        </tr>
      </thead>
      <tbody>
        <th scope="row">1</th>
          <td>tin</td>
          <td>tin@gmail.com</td>
          <td>tinnt</td>
          <td>male</td>
          <td>
        
      </tbody>
    </table>
  </div>